<h4>You Searched for:</h4> 
<h2 class="name">
	<%= location[:name] %>
</h2>
<div class="location_data">
		<ul>
			<li>City: <%= location[:city] %></li>
			<li>State: <%= location[:state] %></li>
			<li>Postal Code: <%= location[:postal_code] %></li>
			<li>Country: <%= location[:country] %></li>
		</ul>
</div>